/**
 *
 * All scss here
 */
/* line 6, /Users/gkoscevic/sites/2017itafedora/boilerplate/assets/src/scss/main.scss */
html, body, div, span, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	abbr, address, cite, code,
	del, dfn, em, img, ins, kbd, q, samp,
	small, strong, sub, sup, var,
	b, i,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section, summary,
	time, mark, audio, video {
	    margin:0;
	    padding:0;
	    border:0;
	    box-sizing: border-box;
	    outline:0;
	    font-size:100%;
	    vertical-align:baseline;
	    background:transparent;
	}

	body {
	    line-height:1;
	}

	article,aside,details,figcaption,figure,
	footer,header,hgroup,menu,nav,section { 
	    display:block;
	}

	nav ul {
	    list-style:none;
	}

	blockquote, q {
	    quotes:none;
	}

	blockquote:before, blockquote:after,
	q:before, q:after {
	    content:'';
	    content:none;
	}

	a {
	    margin:0;
	    padding:0;
	    font-size:100%;
	    vertical-align:baseline;
	    background:transparent;
	}

	/* change colours to suit your needs */
	ins {
	    background-color:#ff9;
	    color:#000;
	    text-decoration:none;
	}

	/* change colours to suit your needs */
	mark {
	    background-color:#ff9;
	    color:#000; 
	    font-style:italic;
	    font-weight:bold;
	}

	del {
	    text-decoration: line-through;
	}

	abbr[title], dfn[title] {
	    border-bottom:1px dotted;
	    cursor:help;
	}

	table {
	    border-collapse:collapse;
	    border-spacing:0;
	}

	/* change border colour to suit your needs */
	hr {
	    display:block;
	    height:1px;
	    border:0;   
	    border-top:1px solid #cccccc;
	    margin:1em 0;
	    padding:0;
	}

	input, select {
	    vertical-align:middle;
	}
/****  END RESET *****/



body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #2c3e50;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  margin: 0; }

/* line 14, /Users/gkoscevic/sites/2017itafedora/boilerplate/assets/src/scss/main.scss */
main {
  margin: 40px auto 0;
/*  max-width: 960px;
*/  text-align: center; }

/* line 20, /Users/gkoscevic/sites/2017itafedora/boilerplate/assets/src/scss/main.scss */
/*img {
  max-width: 100%; }*/

ul {
  list-style-type: none;
}
.clearfix{
	clear: both;
}
.container{
	margin: 0 auto;
	max-width: 1140px;
	background-color: #ffcc66;
}

.parent-container{
	margin: 0 auto;
	max-width: 885px;
}

.secttion{
	height: 800px;
	width: 1000px;
}

.container-left{
	float: left

}

.container-right{
	float: left
}

.transaction-details{
	font: 'open-sans'
}

.card{
	width: 70%
}

.title{
	display: inline-block;
}

































